# dependencies
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# production
/build

# env files
.env*
.env.local

# firebase
firebase-debug.log*

# vercel
.vercel

# misc
*.tsbuildinfo
next-env.d.ts
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testing
/coverage

# editor
.idea/
.vscode/
*.swp
*.swo
